{% extends 'base.html' %}

{% block content %}
<div class="container list-container">
    <div class="card">
        <div class="card-header">
          <h3>Veículos Disponiveis</h3>
        </div>
        <div class="card-body">

          <form id="veiculos-filter-form" class="form-inline" action="" method="GET">
            <div>
              <label for="{{ form.start.id_for_label }}">{{ form.start.label }}:</label>
              {{ form.start }}
            </div>
            <div>
              <label for="{{ form.end.id_for_label }}">{{ form.end.label }}:</label>
              {{ form.end }}
            </div>
            <button type="submit" class="btn btn-success">Filtrar</button>
          </form>

          {% if vehicles %}
          <table id="list-table" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Veículo</th>
                <th>Placa</th>
                <th>Ano</th>
                <th>Estado</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.model }}</td>
                    <td>{{ vehicle.license_plate }}</td>
                    <td>{{ vehicle.year }}</td>
                    <td>{{ vehicle.state }}</td>
                    <td><a href="{% url 'reservas:reserve_vehicle' pk=vehicle.pk %}" class="btn btn-sm btn-primary">Reservar</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
            <p id="alert-empty-list">Ainda não existem veículos registrados no sistema!</p>
          {% endif %}
    </div>
</div>
{% endblock content %}