{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div id="reserva-container">
        <div class="list-header">
            <h3>Reservar Veículo</h3>
        </div>

        <div>
            <table id="tabela-veiculo">
                <thead>
                    <tr>
                        <th>Modelo</th>
                        <th>Placa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ reserve.vehicle.model }}</td>
                        <td>{{ reserve.vehicle.license_plate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="form-reserva-container">
            <h3>Reserva</h3>
            <form id="form-reserva" action="" action="." novalidate method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="form-group {% if form.start.errors %} invalid {% endif %}">
                    <label for="{{ form.start.id_for_label }}">{{ form.start.label }}:</label>
                    {{ form.start }}
                    <span>
                        {{form.start.errors}}
                    </span>
                </div>
                <div class="form-group {% if form.end.errors %} invalid {% endif %}">
                    <label for="{{ form.end.id_for_label }}">{{ form.end.label }}:</label>
                    {{ form.end }}
                    <span>
                        {{form.end.errors}}
                    </span>
                </div>
                
                <div class="form-group {% if form.start.errors %} state {% endif %}">
                    <label for="{{ form.state.id_for_label }}">{{ form.state.label }}:</label>
                    {{ form.state }}
                    <span>
                        {{form.state.errors}}
                    </span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-reserva">Confirmar</button>
                </div>
            </form>
        </div>
       
    </div>
</div>
{% endblock content %}