{% extends 'base.html' %}

{% block content %}
<div class="container form-container reserva-form-container">
    <div class="card">
      <div class="card-header">
        <h3>Atualizar Reserva</h3>
      </div>
      <div class="card-body">

        <table id="veiculo-table" class="table table-bordered table-sm">
          <thead>
            <tr>
              <th>Modelo</th>
              <th>Placa</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ reserve.vehicle.model }}</td>
                <td>{{ reserve.vehicle.license_plate }}</td>
            </tr>
          </tbody>
        </table>

        <div id="reserva-form">
            <h4>Reserva</h4>
  
            <form id="veiculos-filter-form" class="form-inline" action="" method="POST">
              {% csrf_token %}
              {{ form.non_field_errors }}
  
              <div>
                <label for="{{ form.start.id_for_label }}">{{ form.start.label }}<small>*</small></label>
                {{ form.start }}
              </div>
              <div>
                  <label for="{{ form.end.id_for_label }}">{{ form.end.label }}<small>*</small></label>
                  {{ form.end }}
              </div>
              <div>
                  <label for="{{ form.state.id_for_label }}">Estado<small>*</small></label>
                  {{ form.state }}
              </div>
              <button type="submit" class="btn btn-success">Salvar</button>
            </form>
  
          </div>

          <a href="{% url 'reservas:reserves_list' %}" class="btn btn-secondary btn-cancelar"><i class="fas fa-arrow-circle-left"></i> Cancelar</a>


        

      </div>
    </div>
  </div>
{% endblock content %}