{% extends 'base.html' %}

{% block content %}
<div class="container list-container">
    <div class="card">
        <div class="card-header">
            <h3>Reservas Registradas</h3>
          </div>
          <div class="card-body">
            <form id="veiculos-filter-form" class="form-inline" action="" method="GET">
                <div>
                  <label for="{{ form.start.id_for_label }}">{{ form.start.label }}:</label>
                  {{ form.start }}
                </div>
                <div>
                  <label for="{{ form.end.id_for_label }}">{{ form.end.label }}:</label>
                  {{ form.end }}
                </div>
                <button type="submit" class="btn btn-success">Filtrar</button>
              </form>

              

              {% if reserves %}
              <table id="list-table" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Veículo</th>
                    <th>Placa</th>
                    <th>Inicio</th>
                    <th>Fim</th>
                    <th>Status</th>
                    <th>Ações</th>
                  </tr>
                </thead>
                <tbody>
                    {% for reserve in reserves %}
                    <tr>
                        <td>{{ reserve.vehicle.model }}</td>
                        <td>{{ reserve.vehicle.license_plate }}</td>
                        <td>{{ reserve.start }}</td>
                        <td>{{ reserve.end }}</td>
                        <td>{{ reserve.get_state_display }}</td>
                        <td><a href="{% url 'reservas:edit_reserve' pk=reserve.pk %}" class="btn btn-sm btn-primary">Alterar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
              {% else %}
                <p id="alert-empty-list">Ainda não existem veículos registrados no sistema!</p>
              {% endif %}
          </div>
    </div>
</div>
{% endblock content %}