@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --background-color: #e5e6f0;
    --font-color-light: #fff;
    --navbar-dark-primary: #333;
    --navbar-dark-primary-hover: #444;
    --navbar-primary-color: #f7c08a;
    --navbar-primary-color-hover: #f59f48d8;
    --required-input-color: #E75B65;
}
 
* {
    transition: all .6s ease;
}

body, input, button {
    font-family: Roboto, sans-serif;
}

body {
    background: var(--background-color);
    -webkit-font-smoothing: antiliased;
}

/* Navbar */
#navbar {
    background: var(--navbar-dark-primary) !important;
    border-bottom: 3px solid var(--navbar-primary-color);
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
}

.navbar-brand  {
    font-size: 1.4em;
}

.navbar-brand span {
    color: var(--navbar-primary-color);
}

.navbar-brand span i {
    font-size: 1.2em;
}

.nav-link:hover {
    color: var(--navbar-primary-color) !important;
    background:  var(--navbar-dark-primary-hover);
}
/* -------------------------------------------------------- */
/* Listagem */
.list-container {
    margin-top: 80px;
}

.list-container .card {
    min-height: 90vh;
    margin-bottom: 30px;
}

.list-container .card .card-header {
    background: var(--navbar-primary-color-hover);

}

.list-container .card .card-header h3 {
    font-size: 1.3em;
    color: var(--font-color-light);
    font-weight: bold;
    text-align: center;
}

/* Filter Form */
#veiculos-filter-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 30px 0;
}

#veiculos-filter-form div {
    display: flex;
}

#veiculos-filter-form div label {
    width: 80px;
    margin-right: 10px;
}

#veiculos-filter-form div input {
    border-radius: 0;
}

#veiculos-filter-form div input:focus {
    box-shadow: none;
    outline: 0 none;
    border: 1px solid var(--navbar-primary-color);
}

#veiculos-filter-form button {
    margin: 0 20px;
    width: 120px;
}

/* List Table */
#list-table {
    margin: 20px 0;
}

#list-table th {
    background: var(--navbar-primary-color-hover);
    color: var(--font-color-light);
    text-align: center;
    padding: 8px;
}

#list-table td {
    padding: 4px;
    text-align: center;
}

/* -------------------------------------------------------- */
/* Forms */
#register-form {
    width: 800px;
}

.form-container {
    margin-top: 80px;
}

.form-container .card {
    margin-bottom: 30px;
}

.form-container .card .card-header {
    background: var(--navbar-primary-color-hover);

}

.form-container .card .card-header h3 {
    font-size: 1.3em;
    color: var(--font-color-light);
    font-weight: bold;
    text-align: center;
}

.form-container div input,
.form-container div select {
    border-radius: 0;
}

.form-container div input:focus,
.form-container div select:focus  {
    box-shadow: none;
    outline: 0 none;
    border: 1px solid var(--navbar-primary-color);
}

.form-container div small {
    color: var(--required-input-color);
}

.form-container div button {
    padding: 5px 30px;
}

.form-container table th {
    background: var(--navbar-primary-color-hover);
    color: var(--font-color-light);
    text-align: center;
}

.form-container table td {
    padding: 4px;
    text-align: center;
}

.reserva-form-container  .card {
    min-height: 80vh;
}

#reserva-form {
    margin-top: 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

#reserva-form h4 {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding: 8px 0;
    font-weight: bold;
    font-size: 1.3em;
}

.btn-cancelar {
    margin-top: 20px;
}