@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --background-color: #e5e6f0;

    --font-color-light: #fff;

    --navbar-primary-color: #f7c08a;
    --navbar-primary-color-hover: #f59f48d8;
    --navbar-secondary-color: #333;
    --navbar-secondary-color-hover: #444;

    --btn-confirm-background: #8BC34A;
    --btn-confirm-background-hover: #689F38;
    --btn-cancel-background: #E75B65;
    --btn-cancel-background-hover:  #d8545d;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    transition: all .7s ease;
}

html, body, #root {
    height: 100%;
}
  
body {
    background: var(--background-color);
    -webkit-font-smoothing: antiliased;
}

body, input, button {
    font-family: Roboto, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding-top: 0 20px;
}

/* Navbar */
#navbar {
    background: var(--navbar-secondary-color);
    color: var(--font-color-light);
    overflow: auto;
    border-bottom: 3px solid var(--navbar-primary-color);

    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.3);
}
  
#navbar a {
    color: var(--font-color-light);
}
  
#navbar h1 {
    float: left;
    padding: 15px 0;
}

#navbar h1 span {
    color: var(--navbar-primary-color);
}
  
#navbar ul {
    list-style: none;
    float: right;
}
  
#navbar ul li {
    float: left;
}
  
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
  
#navbar ul li a:hover,
#navbar ul li a.current {
    background: var(--navbar-secondary-color-hover);
    color: var(--navbar-primary-color);
}


/* Create Vehicle Form */
#form-container {
    width: 600px;
    margin: 20px auto;
    background: var(--font-color-light);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}

#form-container .form-header {
    background-color: var(--navbar-primary-color);
    padding: 20px;
    padding-bottom: 30px;
    text-align: center;
}

#form-container h3 {
    font-size: 1.4em;
    color: var(--font-color-light);
}

#vehicle-form {
    padding: 20px;
}

#vehicle-form .form-group {
    margin-bottom: 20px;
}

#vehicle-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}   

#vehicle-form input {
    width: 100%;
    padding: 8px;
    border: 1px #ddd solid;
}

#vehicle-form input:focus {
    outline: none;
    border-color: var(--navbar-primary-color);
}

#vehicle-form select {
    max-width: 250px;
    width: 100%;
    padding: 8px;
}

#vehicle-form .input-group {
    display: flex;
}

#vehicle-form .input-group div {
    width: 100%;
}

#vehicle-form .input-group div input {
    width: 90%;
}

#vehicle-form .invalid input,
#vehicle-form .invalid select {
    outline: none;
    border-color: #E75B65;
}

#vehicle-form .invalid span {
    margin: 5px;
    font-weight: bold;
    color: #E75B65;
    font-size: .9em;
    display: block;
}

#ano-container label,
#ano-container input {
    margin-left: 27px;
}

#ano-container > span {
    display: block;
    margin-left: 32px !important;
}


.btn-group {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-cancelar {
    background: var(--btn-cancel-background);
}

.btn-cancelar:hover {
    background: var(--btn-cancel-background-hover);
}

.btn-confirmar {
    background: var(--btn-confirm-background);
}

.btn-confirmar:hover {
    background: var(--btn-confirm-background-hover);
}

.info-text {
    display: none;
    font-size: 1.1em;
    background-color: #187FF5;
    width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    color: var(--font-color-light);
    padding: 10px;
    border-radius: 5px;
}

/* Lista de Veículos */
#list-container {
    width: 100%;
    margin: 20px auto;
    background: var(--font-color-light);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    min-height: 80vh;
    padding: 20px 10px;
}

#list-container .list-header {
    background-color: var(--navbar-primary-color);
    padding: 5px;
    text-align: center;
}

#list-container h3 {
    font-size: 1.4em;
    color: var(--font-color-light);
}

#table-container table {
    border-collapse: collapse;
    width: 100%;
}

#table-container table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

#table-container th {
    background-color: var(--navbar-primary-color);
    color: var(--font-color-light);
}

#table-container th, td {
    padding: 10px;
    text-align: center;
}   

#table-container .btn-action {
    background-color: #11AFDE;
    padding: 7px 15px;
    color: var(--font-color-light);
    border-radius: 3px;
    font-size: .8em;
}

#table-container .btn-action:hover {
    background-color: rgb(27, 141, 175);
}

#alert-empty-list {
    color: var(--navbar-secondary-color); 
    margin: 30px 20px; 
    text-align: center;
    font-size: 1.6em;
}

/* Reservas */
#reserva-container {
    width: 100%;
    margin: 20px auto;
    background: var(--font-color-light);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    min-height: 80vh;
    padding: 20px 10px;
}

#reserva-container .list-header  {
    background-color: var(--navbar-primary-color);
    padding: 5px;
    text-align: center;
    color: var(--font-color-light);
}

#form-reserva-container {
    border: 1px solid #ddd;
    border-radius: 2px;
    margin: 20px 0;
    padding: 10px;
    padding-top: 0;
}

#form-reserva-container h3 {
    text-align: center;
    font-size: 1.4em;
    margin: 5px 0;
}

#form-reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
}

#form-reserva .form-group input {
    padding: 8px;
    border: 1px #ddd solid;
}

#form-reserva .form-group input:focus {
    outline: none;
    border-color: var(--navbar-primary-color);
}

#form-reserva .form-group select {
    max-width: 250px;
    padding: 8px;
}

#form-reserva label, input, select, button {
    margin: 20px 10px;
}

#form-reserva label {
    margin-right: 0;
}

.btn-reserva {
    display: inline-block;
    color: #fff;
    font-size: 1.1em;
    padding: 8px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--btn-confirm-background);
}

.btn-reserva:hover { 
    background-color: var(--btn-confirm-background-hover);
}

#table-veiculo-container {
    margin: 20px 0;
    border: 1px solid var(--navbar-secondary-color);
}

#reserva-container table {
    border-collapse: collapse;
    width: 100%;
}

#reserva-container table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

#reserva-container th {
    background-color: var(--navbar-primary-color);
    color: var(--font-color-light);
}

#reserva-container th, td {
    padding: 4px;
    text-align: center;
} 